[workspace]
git_release_enable = false
git_tag_enable     = false

# All changes are documented in a single changelog for the `bon` crate.
changelog_update = false

[[package]]
changelog_include = ["bon-macros"]
changelog_path    = "website/changelog.md"
changelog_update  = true
name              = "bon"

git_release_enable = true
git_release_name   = "v{{ version }}"
git_tag_enable     = true
git_tag_name       = "v{{ version }}"
