services:
  umami:
    image: docker.umami.is/umami-software/umami:postgresql-latest
    ports:
      - 3000:3000

    env_file: .env
    environment:
      DATABASE_URL: postgresql://umami:${PG_PASSWORD}@postgres:5432/umami
      DATABASE_TYPE: postgresql
      APP_SECRET: ${UMAMI_APP_SECRET}

    networks: [postgres]
    depends_on:
      postgres:
        condition: service_healthy

    restart: always
    healthcheck:
      test: [CMD, curl, http://localhost:3000/api/heartbeat]
      interval: 10s
      timeout: 10s
      retries: 5

  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: umami
      POSTGRES_DB: umami
      POSTGRES_PASSWORD: ${PG_PASSWORD}

    volumes: [postgres:/var/lib/postgresql/data]
    networks: [postgres]

    healthcheck:
      test: [CMD-SHELL, "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  postgres:

volumes:
  postgres:
