[Unit]
Description=Umami Service (docker compose)

BindsTo=docker.service
After=docker.service

[Service]
Type=oneshot
User=${server_os_user}
RemainAfterExit=yes
WorkingDirectory=/var/app
EnvironmentFile=${env_file_path}

ExecStartPre=-/var/app/docker-compose.sh rm
ExecStart=/var/app/docker-compose.sh up --detach --no-build --wait
ExecStop=/var/app/docker-compose.sh stop --timeout 60

[Install]
WantedBy=multi-user.target
