name: release

permissions:
  pull-requests: write
  contents: write

on:
  workflow_dispatch:

env:
    CARGO_TERM_COLOR: always
    RUST_BACKTRACE: 1
    CARGO_INCREMENTAL: 0

jobs:
  release-rust-crates:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          # Needed to clone all the git history, which is necessary to determine
          # the next version and build the changelog.
          fetch-depth: 0

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
            cache: false

      - name: Run release-plz
        uses: MarcoIeni/release-plz-action@v0.5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}

  deploy-website:
    needs: release-rust-crates
    uses: ./.github/workflows/deploy-website.yml
